# Starship prompt configuration
# https://starship.rs/config/

# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false

format = '$custom$directory$character'
right_format = '$all'

# [character]
# success_symbol = "[➜](bold green)"
# error_symbol = "[➜](bold red)"

# Custom module to show org/repo for github paths
[custom.github_repo_base]
when = """ [[ $PWD == "$HOME/github/"*/* ]] """
command = '''
relative="${PWD#$HOME/github/}"
org=$(echo "$relative" | cut -d'/' -f1)
repo=$(echo "$relative" | cut -d'/' -f2)
echo -e "\e]8;;https://github.com/$org/$repo\\e\\\\$org/$repo\e]8;;\e\\"
# echo "$org/$repo"
'''
format = '[github\([$output]($style bold underline)\)]($style italic) '
style = "green"

# [custom.github_repo_subpath]
# when = """ [[ $PWD == "$HOME/github/"*/*/* ]] """
# command = """
# if [[ $PWD == "$HOME/github/"* ]]; then
#   relative="${PWD#$HOME/github/}"
#   subpath=$(echo "$relative" | cut -d'/' -f3-)
#   if [[ -n "$subpath" ]]; then
#     echo "/$subpath"
#   fi
# fi
# """
# style = "bright-cyan bold"

# [custom.not_github_repo]
# when = """ [[ $PWD != "$HOME/github/"* ]] """
# command = """basename "$PWD"""
# style = "cyan bold"

# [git_branch]
# symbol = "git:"
# style = "bold blue"
# format = "[$symbol($branch)]($style) "

# [git_status]
# format = '([$all_status$ahead_behind]($style) )'
# style = "yellow bold"
# ahead = "⇡${count}"
# behind = "⇣${count}"
# diverged = "⇕⇡${ahead_count}⇣${behind_count}"
# conflicted = "="
# untracked = "?"
# stashed = "\\$"
# modified = "!"
# staged = "+"
# renamed = "»"
# deleted = "✘"

# Disable the default directory module since we're using custom
[directory]
disabled = false
repo_root_format = '[$path]($style)[$read_only]($read_only_style) '
# repo_root_format = '[]($repo_root_style)[$path]($style)[$read_only]($read_only_style) '
repo_root_style = "cyan bold"
# truncation_length = 8
# truncate_to_repo=false
# before_repo_root_style = "blue bold"
# repo_root_style = "cyan bold underline"


# Order of modules
# format = """
# $character\
# $directory\
# $custom\
# $git_branch\
# $git_status\
# """